.category_sub_div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    color: white;
    row-gap: 1.5vw;
    width: 100%;
    padding-bottom: 2vw;
}
.category_main_div{
    background-color:steelblue;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    color: brown;
    font-weight: bold;
    font-size: 1.5vw;
    align-content: space-around;
    padding-bottom: 1vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    border-radius : 10px;
}
.heading{
    font-size: 3vw;
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
    color: aliceblue;
    margin-bottom: 2vw;
}
.img{
    max-width: 18vw;
    min-height: 20vw;
    border-radius : 10px;
}
.prod_name{
    font-size: 2vw;
}